@use 'base';

body {
	background: base.$background-color;
}

div#container {
	display: flex;
	flex-direction: column;
	font-family: base.$font;
	color: base.$font-color;
	text-align: center;
}
div#container section#cases {
	display: flex;
	justify-content: center;
	align-items: center;
}
div#container section#content {
	@include base.page-section(50px, 80vw);
	@include base.fix-text-wrap;
	/*fixes overlaying fade from case list*/
	z-index: 1;
}
